html {
  font-family: "Inter", sans-serif;
  background: #A3A3A3;
  height: 100%;
  width: 100%;
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

header h1::-moz-selection, header h2::-moz-selection, header p::-moz-selection, header a::-moz-selection, header span::-moz-selection {
  background: rgba(159, 123, 91, 0.7);
}

header h1::selection, header h2::selection, header p::selection, header a::selection, header span::selection {
  background: rgba(159, 123, 91, 0.7);
}

section h1::-moz-selection, section h2::-moz-selection, section p::-moz-selection, section a::-moz-selection, section span::-moz-selection {
  background: rgba(159, 123, 91, 0.7);
}

section h1::selection, section h2::selection, section p::selection, section a::selection, section span::selection {
  background: rgba(159, 123, 91, 0.7);
}

p, h1, h2, h3 {
  cursor: default;
}

a {
  all: unset;
  cursor: pointer;
}
a:hover {
  -webkit-text-decoration: 0.2px solid underline rgba(255, 255, 255, 0.8);
          text-decoration: 0.2px solid underline rgba(255, 255, 255, 0.8);
  text-underline-offset: 3px;
}

header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  width: 97%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header nav > :nth-child(1) h1 {
  letter-spacing: 4.5px;
  font-weight: 800;
  font-size: 14px;
}
header nav > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header nav > :nth-child(2) p, header nav > :nth-child(2) span, header nav > :nth-child(2) a {
  font-size: 12.5px;
}
header nav > :nth-child(2) .textNumber {
  border-radius: 20px;
  border: 1.5px solid white;
  padding: 0px 10px;
  gap: 15px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}
header nav > :nth-child(2) .textNumber .NumberRight {
  border-radius: 50%;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5px 5px;
}
header nav > :nth-child(2) .miniButton {
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
header nav > :nth-child(2) .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  cursor: pointer;
}
header nav > :nth-child(2) .lines > :nth-child(1) {
  width: 34px;
  border-bottom: 1.4px solid white;
  background: white;
  right: 0;
  margin-top: -2px;
  top: 5px;
  cursor: pointer;
}
header nav > :nth-child(2) .lines > :nth-child(2) {
  width: 15px;
  border-bottom: 1.4px solid white;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: right;
  position: absolute;
  right: 0;
  top: 2px;
  cursor: pointer;
}
header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}
header main > :nth-child(1) {
  width: 100%;
  max-width: 350px;
  cursor: pointer;
}
header main > :nth-child(1) img {
  width: 100%;
}
header main > :nth-child(2) {
  position: absolute;
}
header main > :nth-child(2) h2 {
  font-size: 162px;
  letter-spacing: 10px;
}
header .headerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .headerFooter p {
  font-size: 11px;
  line-height: 15px;
}
header .headerFooter a {
  margin-bottom: 10px;
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  cursor: pointer;
}
header .headerFooter a p {
  color: black;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-right: 16.5px;
  font-size: 20px;
  cursor: pointer;
}

section {
  background: #151515;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
section article {
  margin: 0 auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px 0px 0px 0px;
}
section article > :nth-child(1) {
  font-size: 15px;
}
section article > :nth-child(1) span {
  color: #808080;
}
section article > :nth-child(2) {
  font-size: 15px;
  margin-top: 20px;
}
section > :nth-child(2) {
  margin: 0 auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}
section > :nth-child(2) > :nth-child(1) p {
  font-size: 12px;
}
section > :nth-child(2) > :nth-child(2) {
  margin-left: -435px;
  margin-top: 10px;
}
section > :nth-child(2) > :nth-child(2) span {
  font-size: 13px;
}
section > :nth-child(2) > :nth-child(3) {
  margin-top: 10px;
}
section > :nth-child(2) > :nth-child(3) span {
  font-size: 33px;
}
section > :nth-child(3) {
  width: 97%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  margin-top: 10px;
  background: url("../IMG/photoo.jpg") fixed center;
  background-size: cover;
  height: 500px;
}
section > :nth-child(4) {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1.5px solid white;
  width: 97%;
}
section > :nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 97%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
section > :nth-child(5) a {
  color: #808080;
}
section > :nth-child(5) a, section > :nth-child(5) p {
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
}
section > :nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  width: 97%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 17px;
}
section > :nth-child(6) > :nth-child(2) {
  margin-top: 25px;
  border-top: 1.5px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 20px 0px 0px 0px;
}
section > :nth-child(6) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-right: 75px;
}
section > :nth-child(6) > :nth-child(2) > :nth-child(1) h3 {
  aLL: unset;
  text-decoration: underline;
}
section > :nth-child(6) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  color: #808080;
}
section > :nth-child(6) > :nth-child(2) > :nth-child(2) {
  margin-top: 50px;
  margin-right: 75px;
}
section > :nth-child(6) > :nth-child(2) > :nth-child(2) p {
  line-height: 19px;
}

@media (max-width: 724px) {
  header nav > :nth-child(2) > :nth-child(2), header nav > :nth-child(2) :nth-child(3) {
    display: none;
  }
  header main > :nth-child(2) {
    position: absolute;
  }
  header main > :nth-child(2) h2 {
    font-size: 19vw;
    letter-spacing: 10px;
  }
}
@media (max-width: 913px) {
  section > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  section > :nth-child(2) br {
    display: none;
  }
  section > :nth-child(2) > :nth-child(2) {
    margin: 0 auto;
  }
  section > :nth-child(2) > :nth-child(3) span {
    font-size: 33px;
  }
  section > :nth-child(3) {
    width: 97%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    place-content: center;
    margin-top: 10px;
    background: url("../IMG/photoo.jpg") fixed center;
    background-size: cover;
    height: 500px;
  }
  section > :nth-child(4) {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid white;
    width: 97%;
  }
  section > :nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 97%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  section > :nth-child(5) a {
    color: #808080;
  }
  section > :nth-child(5) a, section > :nth-child(5) p {
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
  }
  section > :nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 0 auto;
    width: 97%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    font-size: 17px;
  }
  section > :nth-child(6) > :nth-child(2) {
    margin-top: 25px;
    border-top: 1.5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 20px 0px 0px 0px;
  }
  section > :nth-child(6) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-right: 75px;
  }
  section > :nth-child(6) > :nth-child(2) > :nth-child(1) h3 {
    aLL: unset;
    text-decoration: underline;
  }
  section > :nth-child(6) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    color: #808080;
  }
  section > :nth-child(6) > :nth-child(2) > :nth-child(2) {
    margin-top: 50px;
    margin-right: 75px;
  }
  section > :nth-child(6) > :nth-child(2) > :nth-child(2) p {
    line-height: 19px;
  }
}